configuration {
    modi: "run,drun,window";
    font: "JetBrains Mono 14";
    show-icons: true;
    icon-theme: "Numix-Circle";
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: true;
    hide-scrollbar: false;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: "   Window";
    display-Network: " 󰤨  Network";
    sidebar-mode: true;
    mouse-enabled: true;
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";

    display-favapps: "   Favorites";
    window {
        width: 1000px;
        height: 500px;
    }
    listview {
        columns: 4
    }
}

@theme "~/.config/rofi/themes/catppuccin-macchiato.rasi"
